body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #00AEEF, #1A3D7C);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    text-align: center;
    background: white;
    border-radius: 10px;
    padding: 80px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.header i {
    font-size: 24px;
    color: white;
}
.header img {
    width: 150px;
    height: auto;
}
.profile-pic {
    border-radius: 50%;
    border: 5px solid #1A3D7C;
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin-top: -200px
}
.status {
    color: #8BC34A;
    font-weight: bold;
    margin: 10px 0;
}
.name {
    color: #1A3D7C;
    font-size: 24px;
    font-weight: bold;
}
.id {
    color: #1A3D7C;
    font-size: 18px;
}